<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta autor="jair">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="tu propio diseño en tu prenda favorita">
    <link rel="shortcut icon" href="./static/imagenes/logo_2.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/CSS/estilos.css" type="Text/css">

    <title>Your Design "Tu lo imaginas nosotros lo hacemos real"</title>
</head>

<body>
<!-- Area de la cabecera -->
<header>
<div class="titulo">
    <img src="./static/imagenes/o.png">


<!-- Area del menu de cabecera-->
<div class="menu">
    <nav>
        <ul>
            <li><a href="/index">Inicio </a></li>
            <li><a href="/info">Acerca de nosotros</a> </li>
            <li><a href="/formulario">Pide tu estilo</a></li>
        </ul>
    </nav>
</div>
</div>
</header>
<!--Contenido-->
<section class="contenido">
    <article>
    <div class="arriba"><p>You desing un lugar donde to obtinenes lo quieres. Manta tu diseño
    con tus instrucciones o compra algo de los productos existentes</p></div>
    </article>

    <article>
    <div class="izquierda"></div>
    </article>

<article class="enlases">

    <div class="tennis">
        <a href="#"><img src="./static/imagenes/tennis.jpg"></a>
    </div>

    <div class="gorras">
        <a href="#"><img src="./static/imagenes/gorras.jpg"></a>
    </div>

    <div class="playeras">
        <a href="#"><img src="./static/imagenes/playeras.jpg"></a>
    </div>
</article>
</section>

<!--pie de de pagina-->
<footer>
    <p>Copyright © 2021 You Design. Todos los derechos reservados.</p>
</footer>

</body>
</html>