<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta autor="jair">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="tu propio diseño en tu prenda favorita">
    <link rel="shortcut icon" href="./static/imagenes/logo_2.png" type="image/x-icon">
    <link rel="stylesheet" href="./static/CSS/info.css" type="Text/css">

    <title>Your Design "Tu lo imaginas nosotros lo hacemos real"</title>
</head>

<body>
<!-- Area de la cabecera -->
<header>
<div class="titulo">
    <img src="./static/imagenes/o.png">


<!-- Area del menu de cabecera-->
<div class="menu">
    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/info">Acerca de nosotros</a> </li>
            <li><a href="/formulario">Pide tu estilo</a></li>
        </ul>
    </nav>
</div>
</div>
</header>

<!--Contenido-->
<section class="contenido">
        <article class="">
        <h2>Quienes somos</h2>
        <p class="text">You design es un servicio que se proporcionara de manera web
            dedicada a la elaboración de playeras, tennis y accesorios como
            gorras con la peculiaridad que es estampando o diseño serán proporcionados
            por los clientes, básicamente el caliente dará una orden o pedido de como quiera una
            playera que diseño quiere ponerle y nosotros lo adaptaremos a lo que el cliente quiere.
            La necesidad que nosotros querremos satisfacer el deseo de una persona de poner lucir
            algún dibujo suyo en una prenda.</p>
        </article>
</section>

<section class="cont">
    <section class="articulo">
    <article>
            <h2>MISÓN</h2>
            <p>ser una organización integral de artes
            gráficas, que satisfaga todas las necesidades del cliente
                en cuanto a calidad, rapidez y eficiencia apoyándonos en la
            excelencia de nuestro capital humano y tecnología de vanguardia.</p>
        </article>
        <article>
            <h2>VISIÓN</h2>
            <p>Tenemos la firme visión de ser un servicio en línea dedicado al
            artes gráficas, en el trato de su gente, en la satisfacción del
            cliente y la protección de su información brindando el servicio adecuado.</p>
        </article>
        <article>
            <h2>Para quine es nuestro servicio</h2>
            <p>Nuestro servicio estaría especializado en las personas que principalmente
                venderemos este producto son aquellas que son amantes de los sneakers y
                las personas que les gusta tener un diseño innovador y único la edad de
                estas personas son de 17 a 30 años ya que en ese rango de edad la inspiración
                de arte es fuerte y son personas que les interesa este mundo del diseño
                personalizado ya que a veces han tenido frustraciones con algún producto que
                han comprado ya Que a veces  es muy común que todo el mundo lo tenga y nuestro
                principal objetivo sería vender productos de calidad e únicos para el cliente
                para que le doy un toque especial.</p>
        </article>
    </section>
</section>
 <div class="imagen"><img src="./static/imagenes/mandala.jpg"></div>

<!--pie de de pagina-->
<footer>
    <p>Copyright © 2021 You Design. Todos los derechos reservados.</p>
</footer>


</body>
</html>